<h1>BMI Calculator</h1>
<p>This app calculate your BMI</p>
<p>Fill in your details on the Details page</p>
<p>Then go to the BMI calculation page to view your BMI</p>


<p align="center"><%= link_to image_tag("banana.jpg"), 
				:controller => "result", :action => "index" %> </p>

