<h1>BMI Calculation</h1>


<p>
  <b>Name:</b>
  <%= @detail.name %>
  
</p>

<p>
  <b>Height:</b>
  <%= @detail.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @detail.weight %>
</p>

<p>
  <b>BMI Calculation:</b>
  <%= @myBmirounded %>
</p>




